/* -------------------------------------------------------------- 
  
 Hartija Css Print  Framework
   * Version:   0.8 (2008-03-10)
   
   * In use by BlueTripCSS
	 
-------------------------------------------------------------- */

body { 
	width:100% !important;
	margin:0 !important;
	padding:0 !important;
	line-height: 1.4;
	word-spacing:1.1pt;
	letter-spacing:0.2pt;
	font-family: Garamond,"Times New Roman", serif;
	color: #000;
	background: none; font-size: 12pt;
}

/*Headings */
h1,h2,h3,h4,h5,h6 { font-family: Helvetica, Arial, sans-serif; }
h1{font-size:19pt;}
h2{font-size:17pt;}
h3{font-size:15pt;}
h4,h5,h6{font-size:12pt;}

code { font: 10pt Courier, monospace; } 
blockquote { margin: 1.3em; padding: 1em;  font-size: 10pt; }
hr { background-color: #ccc; }

/* Images */
img { float: left; margin: 1em 1.5em 1.5em 0; }
a img { border: none; }

/* Links */
a:link, a:visited { background: transparent; font-weight: 700; text-decoration: underline;color:#333; }
a:link[href^="http://"]:after, a[href^="http://"]:visited:after { content: " (" attr(href) ") "; font-size: 90%; }
a[href^="http://"] {color:#000; }

/* Table */
table { margin: 1px; text-align:left; }
th { border-bottom: 1px solid #333;  font-weight: bold; }
td { border-bottom: 1px solid #333; }
th,td { padding: 4px 10px 4px 0; }
tfoot { font-style: italic; }
caption { background: #fff; margin-bottom:2em; text-align:left; }
thead {display: table-header-group;}
tr {page-break-inside: avoid;} 

/*hide various parts from the site*/

#quicklinks-panel,
#accessibility,
#search-box,
#branding p,
#weather,
#navigation,
#text-resize,
#sidebar,
#news-contacts,
#news-footer,
#public-affairs-footer,
dl.related-entries,
.addthis_toolbox,
#story-sidebar,
.authorinfo, .authorinfo:hover,
canvas {
	display:none;
}

.container a.button, .container button {
  display:none;
}

#main-content {
	min-height: 0 !important;
}

#personPopupContainer {
	display: none !important;
	}
#content div.container,#main-content
{
	width:100%;
	background:none;
	background-color:#FFFFFF;
}
#container, #branding
{
	width:100%;
}
#header
{
	background-image:none;
}
#header h1 a{background-image:none;text-indent:0;color:#FFFFFF;font-size:3em;font-family:Georgia, Times New Roman, serif;font-weight:normal;text-decoration:none;}
#article
{
	font-family:Arial,Helvetica Neue, Helvetica, sans-serif;
}
.writer a, .articlecontact a, .writer, .articlecontact
{
	position:static; display:inline;
}
#article
{
	font-size:12px;
}